@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: open-sans;
  src: url("../fonts/open-sans.woff2") format("opentype");
}
@font-face {
  font-family: lato;
  src: url("../fonts/Lato.woff2") format("opentype");
}
@keyframes format {
  0% {
    border-radius: 51% 49% 37% 63% / 63% 60% 40% 37%;
  }
  25% {
    border-radius: 68% 32% 59% 41% / 63% 60% 40% 37%;
  }
  50% {
    border-radius: 49% 51% 69% 31% / 40% 50% 50% 60%;
  }
  75% {
    border-radius: 58% 42% 47% 53% / 66% 56% 44% 34%;
  }
  100% {
    border-radius: 40% 60% 62% 38% / 56% 40% 60% 44%;
  }
}
@keyframes format2 {
  0% {
    border-radius: 52% 48% 41% 59% / 35% 40% 60% 65%;
  }
  25% {
    border-radius: 68% 32% 52% 48% / 55% 48% 52% 45%;
  }
  50% {
    border-radius: 58% 42% 37% 63% / 40% 65% 35% 60%;
  }
  75% {
    border-radius: 45% 55% 55% 45% / 58% 48% 52% 42%;
  }
  100% {
    border-radius: 68% 32% 59% 41% / 63% 60% 40% 37%;
  }
}
